<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Find My Favorite Cat</title>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 5px dashed #adb4ba; margin: 20%; min-height: 400px;') }}
  </head>
  <body>
    <h1>
      <br>
      <br>
      <br>
      <center>Hello Kitty~</center>
    </h1>
    {{ dropzone.create(action_view='index') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
  </body>

</html>
