<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Find My Favorite Cat</title>
    <link href="{{ url_for('static', filename='styles/cat.css') }}" type="text/css" rel="stylesheet" />
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 5px dashed #adb4ba; margin-top: 5px; margin-left:20%; margin-right: 20%; min-height: 400px;') }}
  </head>

  <body>
    <!--<p class="cat"><span style="font-size:88px">WELCOME</span></p>-->
    <p style="text-align:center; font-family:catfont; font-size:88px; margin-top:100px; margin-bottom:0;">WELCOME</p>
    <p style="text-align:center; font-size:28px">by Pippi & Raccoon</p>
    {{ dropzone.create(action_view='index') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
  </body>

</html>
